.banner{
    height: 270px;
    width: 100%;
    background-color: #23c79e;
}
.inner-banner{
    width: 100%;
    color: white;
}
.result-buttons{
    margin-top: 70px;
}
.election-result{
    background: lightblue;
  
    border-radius: 7px;

}

.left-column{

margin-top:20px; height: 300px;

}
.display-result{
  background: #ffff;
  height: 500px;
  width: 100%;
}
.candidate-container{
 margin-top: 10px; background: white; height: 250px;    box-shadow: 0 2px 10px 1px rgba(0,0,0,.3);
}
.poll-data{
width: 300px;  position: relative; top: -200px; right: -245px;
}
.my-search{
    font-size: 1.2rem; margin-right: 14px;
}
.this-login{
    border-radius: 12px;
    font-size: 1.2rem;
}
.status{
    background-color: #5f6265;
    border: none; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 7px;
}
.status:hover{
    background: #23c79e;
    color:  #fff;
  }
  .card-body > img:nth-child(1){
 border-radius: 50px 50px 50px 0;
  }

  .card-body{
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  .card-body :hover  {
    background: #23c79e;

    opacity: .5;
  }
/* .cta {
    display : none;
} */

.verify{
  background-color: #23c79e;
}

#first-box{
  border : 1px solid #23c79e;
  height: 70px;
  width: 70px;
  margin: 3px;
  padding: 4px;

}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
  .footer {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 60px; 
    line-height: 60px;
    background-color: #f5f5f5;
  }
  
  

  

